/* common - based on Eric Meyer's reset, you shouldn't change this section
======================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption{border: 0; margin: 0; padding: 0; vertical-align: baseline; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}

body {background: #EBEADB; font: 75%/1.5 "myriad pro", helvetica, arial, sans-serif; color: #FFF;}

table {border-collapse: separate; border-spacing: 0; width:700px; margin-bottom: 5px; margin-left:auto; margin-right:auto;}
thead {background: #e9ae9e; color: #FFF;}
thead th{padding: 0 5px 0 5px; cursor:s-resize; background-repeat: no-repeat; background-position: center right; background-image: url("img/small.gif");}

thead th.headerSortUp {background-image: url("img/small_asc.gif");} 
thead th.headerSortDown {background-image: url("img/small_desc.gif");} 

tbody tr.odd{background: #f7d2c9;}
tbody tr.even{background: #f8e7e3;}

tbody td{padding: 0 5px 0 5px;}

caption, th, td {text-align: left; font-weight: normal;}

blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

li {list-style-type: none;}

hr {display: none;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* basic links properties */
a {text-decoration: none; color: #333;}
a.alt,
.altbox .content a {border-color: #d0e4f5; color: #0f5290;}
a:hover, a:active, a:focus,
a.alt:hover, a.alt:active, a.alt:focus,
.altbox .content a:hover, .altbox .content a:active, .altbox .content a:focus {border-color: #d0e4f5; color: #0a80cf;}
a img {border: none;}

/* Header Section */
/* ============== */
#header {background: #0f508d url("img/header.png") repeat-x; min-height: 93px;}
#header #userbox {background: url("img/userbox.png") no-repeat; position: relative; float: right; width: 225px; min-height: 65px; line-height: 1.3;}
#header #userbox #avatar {background: url("img/avatar.jpg") no-repeat; position: absolute; left: 18px; top: 21px; width: 24px; height: 24px; line-height: 1.3;}
#header #userbox #username {font-size: 120%; font-weight: normal; color: #fff; position: absolute; left: 45px; top: 18px; width: 140px; height: 24px; line-height: 1.3;}
#header #userbox a#logout {background: url("img/logout.png"); border: 0; position: absolute; right: 14px; top: 21px; display: block; width: 23px; height: 24px; overflow: hidden; line-height: 1; font-size: 90%;}

#nav {background: #302f2f url("img/nav.png") repeat-x; min-height: 37px;}
#nav ul{list-style: none; padding: 0; margin: 0;} 
#nav li{float: left; min-height: 37px; padding: 0 7px 0 7px; min-width: 75px; text-align:center;}
#nav li:hover{background: #67c0b8;} 
#nav a{color: #FFF; text-decoration: none;position:relative; top: 9px;}
#nav a:hover{color: #FFF; text-decoration: none;}

#sub-nav {background: #302f2f url("img/sub-nav.png") repeat-x; min-height: 30px;}
#sub-nav ul{list-style: none; padding: 0; margin: 0;} 
#sub-nav li{float: left; min-height: 30px; padding: 0 7px 0 7px; min-width: 75px; text-align:center;}
#sub-nav a{color: #FFF; text-decoration: none;position:relative; top: 7px;}
#sub-nav a:hover{color: #FFF; text-decoration: none;}

#subheading {display:none; background: #FFFFFF; border: #cfcfbd solid 1px; margin:10px; padding:5px; color:#838375;}

#page {margin:10px;}

/* Sidebar Section */
/* =============== */
#sidebar {color:#FFF; float:left; width:170px;}

#block-header {background: #302f2f url("img/block-header.png") repeat-x; border: #59b7ad solid 1px; width:160px; height:30px;}
#block-header span{font: 1.25em "myriad pro", helvetica, arial, sans-serif; position: relative; top: 6px; left: 6px;}
#block-main {background: #FFFFFF; width:150px; border-left: #cfcfbd solid 1px; border-right: #cfcfbd solid 1px; border-bottom: #cfcfbd solid 1px; color:#838375; margin-bottom:10px;padding:5px;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;}

#content {margin-left: 170px;}

#content .thumbblock{height: auto; text-align:center; padding:0;}
#content .thumb {list-style:none; padding:0; min-width:180px; width:25%; height:180px; vertical-align:top;display:inline-block;}

#content .favorited {border: #848484 solid 2px; padding:1px;}
#content .un-favorited {border: #848484 solid 2px; padding:1px;}

#content .voted-up {border: #848484 solid 2px; padding:1px;}
#content .voted-down {border: #848484 solid 2px; padding:1px;}

#content .rated-safe {border: #59b7ad solid 2px; padding:1px;}
#content .rated-questionable {border: #cfcfbd solid 2px; padding:1px;}
#content .rated-explicit {border: #ca4e2d solid 2px; padding:1px;}

#content-header {background: #302f2f url("img/sub-nav.png") repeat-x; border: #ca4e2d solid 1px; height:30px;}
#content-header span{font: 1.25em "myriad pro", helvetica, arial, sans-serif; position: relative; top: 6px; left: 6px;}
#content-main {background: #FFFFFF; border-left: #cfcfbd solid 1px; border-right: #cfcfbd solid 1px; border-bottom: #cfcfbd solid 1px; color:#838375;margin-bottom:10px;text-align: center;padding:5px;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;}

#paginator {display: block;	padding: 2em 0 1em 0;font-size: 1em;text-align: center;font-weight: bold;clear:both;}

#footer {background: #302f2f url("img/sub-nav.png") repeat-x; height: 30px;	clear:both; text-align:center;} 